<div id="modal-backdrop" class="hidden"></div>
<form action="..."> {{! Not sure what exactly the action should be, whatever script handles file uploads I guess.}}
  <label>Model<input type="file" name="model"></label>
  <label>Author<input type="text" name="author"></label>
  <label>Description<input type="text" name="description"></label>
  <label>Images
    <input type="file" name="image1" accept="image/*">
    <input type="file" name="image2" accept="image/*">
    <input type="file" name="image3" accept="image/*">
    <input type="file" name="image4" accept="image/*">
    <input type="file" name="image5" accept="image/*">
    <input type="file" name="image6" accept="image/*">
  </label>
  <input type="submit">
</form>
