<div id="modal-backdrop" class="hidden"></div>
<div id="modal" class="hidden">
  <form enctype="multipart/form-data" action="/upload" method="post">
    <label>Model<input type="file" name="model" placeholder=""></label>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="description" placeholder="Description">
    <label>Images
      <input type="file" name="image" accept="image/*">
      <input type="file" name="image" accept="image/*">
      <input type="file" name="image" accept="image/*">
      <input type="file" name="image" accept="image/*">
      <input type="file" name="image" accept="image/*">
      <input type="file" name="image" accept="image/*">
    </label>
    <input type="submit">
  </form>
</div>
