<div id="modal-backdrop" class="hidden"></div>
<div id="modal" class="hidden">
<form enctype="multipart/form-data" action="/upload" method="post">

  <input type="file" name="model" />
  <input type="file" name="image" />
  <input type="file" name="image" />
  <input type="submit" value="Upload Image" name="submit" />
</form>
</div>
