<header>
  <h1>Don't know what to call it</h1>
  <button id="upload-button" type="button">Upload</button>
</header>

<main>
  {{#each items}}
    {{> link-frame}}
  {{/each}}

  {{> add-model-modal}}
</main>

<script src="/index.js">
